body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #393646;
}
#spamForm {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
   
}
.montserrat-underline-fonty {
    font-family: "Montserrat Underline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 666;
    font-style: normal;
    color: white;
  }

.selection-button{
    background-color: #B9B28A;
    color: black;
    font-size: larger;
    
}

